@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Alata",sans-serif;;
}
h2 {
  font-size: 40px;
  text-transform: uppercase;
  color: #f64c08;
}